<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Templates to describe Charts and Graphs
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card-header>
    <ion-text color="primary"><h2>Line graph template:</h2></ion-text>
  </ion-card-header>

  <ion-card-content>
      <!--
      <ion-text color="dark" class="wordwrap">
      </ion-text>
    -->
    <ion-text color="dark" class="wordwrap">
      1.) This line graph is about __________.
    </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        2.) The Trend of this graph shows that ___________. 
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        vocab words: amount, highest, lowest, maximum, minimum, volatile, stable, constant at. 
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        (ex: Toyota cars are volatile in price from a maximum of 13k USD to a minimum of 5k USD)
      </ion-text><br/>
    <ion-text color="dark" class="wordwrap">
        (ex2: Toyota cars are stable in price from a maximum of 13k USD to a minimum of 12.5k USD)
      </ion-text>
    <ion-text color="dark" class="wordwrap">
        (ex3: Toyota cars are constant at the price of 13k USD)
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        3.) The line graph shows that from _______ to _________ the _________(subject)  ___________(verb in simple past tense).               
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        (ex: From 2011 to 2012 the price of Toyota cars went up. From 2013 to 2014 etc...)
        </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        4.) In conclusion, _________.
         </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        (ex: In conclusion, Toyota cars are volatile in price )
          </ion-text>
    
  </ion-card-content>

  <ion-content>
      <ion-card-header>
        <ion-text color="primary"><h2>Pie chart template:</h2></ion-text>
      </ion-card-header>
    
  <ion-card-content>
    <ion-text color="dark" class="wordwrap">
        1.) This pie chart is about ___________.
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        2.) The Trend of this pie chart shows that __________.
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        vocab words: popular, amount, highest, lowest, most, least 
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        (ex: Toyota cars are the most popular car and Hyundai is the least popular)
      </ion-text><br/>
    <ion-text color="dark" class="wordwrap">
        (ex2: Toyota cars have the highest amount of customers and Hundai has the lowest amount of customers)
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        3.) The pie chart shows that ________________.
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        vocab words: next, finally, biggest, smallest
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        (ex: .. Toyota cars are the biggest at 75%, next Honda cars are at 20%, finally Hyundai cars are 			the smallest at 5%)
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        4.) In conclusion ____________________.
      </ion-text><br/><br/>
    <ion-text color="dark" class="wordwrap">
        (ex: In conclusion, Toyota cars are the most popular and Hyundai cars are the least popular.)
      </ion-text>

  </ion-card-content>
</ion-content>
