<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Graph Comparisons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-text color="primary"><h5>An important note:</h5></ion-text>
        </ion-card-header>
        <ion-card-content>
        <ion-text class="wordwrap">
            When making comparisons, you should use comparative and superlative adjectives.
            (ie: iphone 11 is more expensive than iphone 1. iphone 11 is the most expensive)</ion-text><br/><br/>
        <ion-text class="wordwrap">
            Alot of the times it is useful to use the format 'A is more than B', 'A is less than B', when comparing
two items on the same graph. On two different graphs using this same format, here is an example of how to do it:
        </ion-text><br/><br/>
        <img src="/assets/imgs/bar-graphCompareEx1a.png" alt="" />
        <img src="/assets/imgs/bar-graphCompareEx1b.png" alt="" />


        <ion-text class="wordwrap" color="dark">
         Example: A in Graph 1 is more than Graph 2  OR A in Graph 1 is 1 more than Graph 2.
        </ion-text><br/><br/>
        <ion-text class="wordwrap">
          When describing trend(s) between two graphs, it is important to emphasize both the overall differences between
          them and similarities.
        </ion-text><br/><br/>
        <ion-text class="wordwrap">
          Finally in drawing a conclusion, besides re-iterating the trend(s) that you included in your description it maybe
a good idea to make a comment or inference based on the data between the two graphs. <ion-text color="dark">(example: people ride motorbikes in the Phillipines more than in Saudi Arabia because cars are expensive for Filipinos.)</ion-text>

        </ion-text>

      </ion-card-content>
      </ion-card>



      <ion-card>
        <ion-card-header>
          <ion-text color="primary"><h5>How to:</h5></ion-text>
        </ion-card-header>
        <ion-card-content>
          
        <ion-text class="wordwrap">1.) Say what the 2 graphs are about <ion-text color="dark">(ex: These graphs are about cars sold in Saudi Arabia and the UAE)</ion-text></ion-text><br/>
        <ion-text class="wordwrap">2.) Describe the trend(s) between the two graphs. The trend is a main idea <ion-text color="dark">(ex: More Sports cars are sold in the UAE, while more luxury cars and Japanese cars are sold in Saudi Arabia )</ion-text></ion-text><br/>
        <ion-text class="wordwrap">3.) Describe some details between the two graphs to support the trend(s) that you have outlined. <ion-text color="dark">(ex: Lamborgini and Ferrari are sold in the UAE more than in Saudi Arabia, while in Saudi Arabia Benz and Toyota are sold more than in the UAE.) </ion-text></ion-text><br/>
        <ion-text class="wordwrap">4.) Finish your explanation by making a conclusion about the graph.
              <ion-text color="dark">(ex: In conclusion, People in the UAE buy more sports cars because they like to watch Racing shows, while people in Saudi Arabia like Japanese and Luxury cars more)</ion-text></ion-text><br/><br/>
              <!--ion-button size="small" (click)="Hideme()">Translation</ion-button-->
        </ion-card-content>
      </ion-card>
      <img src="/assets/imgs/bar-graphCompareEx2a.png" alt="" />
      <img src="/assets/imgs/bar-graphCompareEx2b.png" alt="" /><br/>

          
  <ion-card>
      <ion-card-header>
          <ion-text color="primary"><h5>Audio exercise:</h5></ion-text>
      </ion-card-header>
      <ion-card-content>
          
          <a href="https://drive.google.com/open?id=1i-f3er3GjDVZ0jOSkNxf5zFz7XXglSjS">A short audio example, spoken by Abdulrazak</a><br/>
          <ion-text class="wordwrap">This short example is 42 seconds long, see if you can modify or create your own description and make it longer by comparing more details between the two graphs.</ion-text>
      </ion-card-content>
  </ion-card>


<ion-card>
      <ion-card-header>
          <ion-text color="danger">
            <h5>Exercise A:</h5>
        </ion-text>
      </ion-card-header>


        <ion-card-content>
      <img src="/assets/imgs/bar-graphCompareEx3a.png" alt="" />
      <img src="/assets/imgs/bar-graphCompareEx3b.png" alt="" /><br/>
      <ion-text class="wordwrap">
        Hint: You may want to look at the number of users for each item in both graphs before determining the difference.
     </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
