<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Line Graph: Exercises
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
        <!----ion-card-subtitle>Regular HTML block</ion-card-subtitle-->
        <ion-text color="primary">
          <div text-center><h5>Line Graph Exercises</h5></div>
        </ion-text>
      </ion-card-header>
     
      <ion-card-content><ion-text color="medium">
          <p>Various questions can be asked during these exercises. What is the amount of X? Or what is the popularity of X?</p>
        </ion-text><br/>
        <ion-text color="danger">
            <h5>Exercise A</h5>
        </ion-text>
      </ion-card-content>
        <img src="/assets/imgs/ExLinegraphA.png" alt="" />
    <ion-card-content>
        <ion-text color="danger">
            <h5>Exercise B</h5>
        </ion-text>
    </ion-card-content>
    <img src="/assets/imgs/ExLinegraphB.png" alt="" />

</ion-content>
